body {
    background-image: url("https://www.wallpapertip.com/wmimgs/135-1356005_website-backgrounds-wallpaper-fondos-de-pagina-web-azul.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: red;
}
img {
    width: 400px;
    height: 280px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: yellow;
    padding: 50px;
    border-style: solid;
    border-color: red;
    border-width: 10px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}